html, body, #app-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.app-container {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  border: 1px solid black;
}

.header-container {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color: darkblue;
  color: white;
  border-bottom: 1px solid darkgray
}

.header-container .user-info {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0;
  margin:0;
}

.header-container .league-info {
  float: left;
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header-container .draft-info {
  float:left;
  width: 60%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.content-container {
  width: 100%;
  height: calc(100% - 50px);
  margin: 0;
}

.tool-board {
  height: 70%;
  width:100%;
  border-right: 1px solid darkblue;
}
.tool-board table {
  border-collapse: collapse;
  height:100%;
}
.tool-board td {
  border: 1px solid darkslategray;
  height: 75px;
  width: 75px;
}

.tool-board tr {
  padding:0;
  margin:0;
}

.tool-board .wr {
  background-color: lightgreen;
}

.tool-board .rb {
  background-color: lightyellow;
}

.tool-board .qb {
  background-color: lightpink
}
.tool-chat {
  height: 30%;
  width: 100%;
  border-right: 1px solid darkblue;
}

.tool-chat .messages {
  height: 100%;
  float: left;
  width: 50%;
}

.tool-chat .controls {
  height: 100%;
  float: left;
  margin: 0;
}

.tool-title {
  background-color: darkblue;
  color:white;
  margin:0;
  height:1.2em;
}
.tool-chat textarea {
  height: 90%;
}
.tool-available {
  height: 40%;
  width: 100%;
}

.tool-rosters {
  height: 30%;
  width: 100%;
}

.tool-queue {
  height: 30%;
  width: 100%;
}

.column-left {
  margin: 0;
  padding: 0;
  float: left;
  height:100%;
  width: 70%;
}

.column-right {
  margin: 0;
  padding: 0;
  float: left;
  height:100%;
  width: 30%;
}
.tool-body {
  overflow: scroll;
  height: calc(100% - 1.2em);
}
